* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../Images/purple3.webp");
    background-size: cover;
    background-position: center;
}
.container {
    font-family: 'Signika Negative', sans-serif;
    color: snow;
}
nav{
    display: flex;
    align-items: center;
    padding: 30px 6%;
}
nav .logo {
    width: 40px;
    height: 60px;
    margin-right: 15px;
}
nav h3 {
    width: 200px;
    font-size: 50px;
}
nav ul {
    flex: 1;
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: snow;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: plum;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
button{
    background-color: white;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-left: 50px;
}
button span{
    display: block;
    background-color: black;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background-color 0.5s, margin-left 0.5s;
}
.active{
    background: white;
}
.active span{
    background-color: mediumpurple;
    margin-left: 31px;
}
.on{
    background: white;
}
.font{
    color: black;
}
.containerB{
    background: rebeccapurple;
}
/*-------------------------footer-----------------------*/
footer{
    background: black;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a i:hover {
    color:magenta;
    transform: scale(1.5);
}
.footer-bottom{
    background: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
/*----------------------main-section-------------------------*/
#about{
    padding: 30px 6%;
}
.main-section{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Signika Negative', sans-serif;
    color: snow;
}
.main-section h1{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 30px;
}
.main-section h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.main-section img{
    padding: 0;
    width: 80%;
    margin: 10px 0 20px;
}
.main-section p{
    font-size: 22px;
    margin-bottom: 30px;
}
.light-mode{
    background-color: white;
    color: black;
}
/*-------------------more section--------------------*/
#more-section{
    
    font-family: 'Signika Negative', sans-serif;
    color: snow;
}
.more-container{
    padding: 30px 6%;
    align-items: center;
    text-align: center;
}
.sub-title{
    margin-top: 30px;
    font-size: 50px;
    background-color: rgb(21, 21, 21);
}
.more-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.more-list div{
    background: rgb(21, 21, 21);
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.more-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.more-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.more-list div a{
    text-decoration: none;
    color: snow;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}
.more-list div:hover{
    background: purple;
    transform: translateY(-10px);
}
/*--------------bts socials---------------*/
.row-fb, .row-twitter, .row-ig, .row-yt{
    display: flex;
}
.socials-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.socials-list .soso{
    background: rgb(21, 21, 21);
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.soso h2{
    margin-bottom: 30px;
    font-size: 30px;
}
.bts-container{
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 30px 6%;
}
.bts-container h1{
    margin-top: 10px;
    font-size: 50px;
    background-color: rgb(21, 21, 21);
    text-align: center;
}
.row-fb i, .row-twitter i, .row-ig i, .row-yt i{
    color: hotpink;
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: color 0.5s transform 0.5s;
}
.row-fb p, .row-twitter p, .row-ig p, .row-yt p{
    font-size: 18px;
    margin-bottom: 20px;
}
.row-fb i:hover, .row-twitter i:hover, .row-ig i:hover, .row-yt i:hover{
    color: rgb(251, 193, 201);
    transform: scale(1.5);
}
.socials-list .soso:hover{
    background: darkmagenta;
    transform: translateX(-10px);
}
/*---------------responsiveness-------*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    nav h3{
        font-size: 28px;
    }
    nav .logo {
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        background-color: rebeccapurple;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 25px;
        text-align: justify;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #head{
        font-weight: 800;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .main-section h3{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .main-section img{
        padding: 0;
        width: 80%;
        height: 150px;
        margin: 10px 0 20px;
    }
    .main-section p{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .more-container{
        padding: 10px 6%;
    }
    .sub-title{
        margin-top: 10px;
        font-size: 25px;
    }
    .more-list{
        grid-gap: 20px;
        margin-top: 10px;
    }
    .more-list div{
        padding: 20px;
        font-size: 14px;
    }
    .more-list div i{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .more-list div h2{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .socials-list{
        grid-gap: 20px;
        margin-top: 20px;
    }
    .socials-list .soso{
        padding: 20px;
        font-size: 14px;
        font-weight: 300;
    }
    .soso h2{
        margin-bottom: 30px;
        font-size: 22px;
    }
    .bts-container{
        margin-top: 10%;
        margin-bottom: 5%;
        padding: 10px 6%;
    }
    .bts-container h1{
        margin-top: 5px;
        font-size: 25px;
    }
    .row-fb i, .row-twitter i, .row-ig i, .row-yt i{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .row-fb p, .row-twitter p, .row-ig p, .row-yt p{
        font-size: 16px;
        margin-bottom: 20px;
    }
    footer{
        height: auto;
        width: 100%;
        padding-top: 2px;
    }
    .footer-content h3{
        font-size: 24px;
    }
    .footer-content{
        font-size: 1.4rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }
    .footer-content p{
        max-width: auto;
        margin: 5px 2px;
        line-height: 18px;
        font-size: 14px;
    }
    .footer-bottom{
        width: 100%;
        padding: 5px 0;
    }
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
}